@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hides the scrollbar but keeps scrolling functionality */
.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  